{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid">
	<h1>Hello <b>{{ user.username }}</b>,</h1>
	<h2 id="welcome">Welcome to HD-Only Bug Tracking System</h2>

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
  	<div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="https://i2.wp.com/webdevpuneet.com/wp-content/uploads/2019/09/Screenshot_84.png?fit=820%2C345&ssl=1" alt="First slide">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="https://i2.wp.com/webdevpuneet.com/wp-content/uploads/2019/09/Screenshot_84.png?fit=820%2C345&ssl=1" alt="Second slide">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="https://jindaltechnology.co.uk/wp-content/uploads/2016/05/bug-tracking.png" alt="Third slide" height="850">
	    </div>
  	</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
{% endblock %}
