{% extends 'base.html' %}
{% block page_content %}

  <h2>Welcome, <b>{{user}}</b>:</h2>

  <div class="container table-responsive-md">
  <table class="table table-striped">
      <thead></thead>
      <tbody>
        <tr>
          <td><p>Username:</p></td>
          <td><p> {{ user.username }}</p></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>Role:</td>
          <td>
            {% for group in user.groups.all %}
              {{ group.name }}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>Is Active:</td>
          <td>{{ user.is_active }}</td>
        </tr>
        <tr>
          <td>Last login:</td>
          <td>{{ user.last_login }}</td>
        </tr>
        <tr>
          <td>Date joined:</td>
          <td>{{ user.date_joined }}</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}