{% extends 'base.html' %}
{% block page_content %}
<div class="container-fluid mt-3">
    <h2>My Tickets</h2>
    <table class="table table-striped table-bordered table-hover" id="myTicketsTable">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th class="w-20">Description</th>
                <th>Creation</th>
                <th>Updated</th>
                <th>Closed</th>
                <th>Reported By</th>
                <th>Assigned To</th>
                <th>Status</th>
                <th>Severity</th>
                <th>Validity</th>
            </tr>
        </thead>
        <tbody>
            <!-- Display table data -->
            {% for ticket in myTicket %}
                <tr>
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.title}}</td>
                    <td><a href="{% url 'ticketDetails' ticket.pk %}">{{ticket.description}}</a></td>
                    <td>{{ticket.created_at}}</td>
                    <td>{{ticket.updated_at}}</td>
                    <td>{{ticket.closed_at}}</td>
                    <td>{{ticket.reportedBy}}</td>
                    <td>{{ticket.assignedTo}}</td>
                    <td>{{ticket_status|get_item:ticket.status}}</td>
                    <td>{{ticket_severity|get_item:ticket.severity}}</td>
                    <td>{{ticket_validity|get_item:ticket.validity}}</td>
                </tr>
            {% endfor %}
		</tbody>
    </table>
</div>
{% endblock %}