{% extends 'base.html' %}
{% block page_content %}
    
    <div class="card text-center" style="margin-top: 10%;">
        <div class="card-header">
          
        </div>
        <div class="card-body">
          <h5 class="card-title">Sorry</h5>
          <p class="card-text">Bug reporters do not have rights to edit tickets not reported by themself.</p>
          <a href="{% url 'home' %}" class="btn btn-outline-success">Back to main</a>
        </div>
        <div class="card-footer text-muted">
         
        </div>
      </div>

{% endblock %}