{% extends 'base.html' %}
{% block page_content %}
<div class="row">
	<!--Contents-->
	<div class="offset-4 col-4 jumbotron mt-5">
		<h2>Forgot your password?</h2>
		<small class="text-muted">Don't worry! Just fill in your email and we'll send you a link to reset your password.</small>
		{% if error_message != "" %}
		<div class="alert alert-danger">
			<strong>{{ error_message }}</strong>
		</div>
		{% endif %}
		<form name="forget_password_form" action="forget_password" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="text" name="email" id="email">                            
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
