{% extends 'base.html' %}
{% block page_content %}

<div class="container">
    <div class="row">

		<!-- Bug Details Column -->
		<div class="col-md-8">
		<h1 class="my-4">{{iT.title}}</h1>
		<!-- Bug Desciption -->
		<div class="card mb-4">
			<div class="card-body">
			<h3 class="card-title">Bug Description</h3>
			<p class="card-text">{{iT.description}}</p>
			</div>
		</div>

		<!--Comments-->
		<h3>Leave a comment:</h3>
		<form action="{% url 'ticketDetails' iT.pk %}" method="POST">
	        {% csrf_token %}
	        <div class="form-group">
	            {{ form.content }}
	        </div>
	        <br>
	        <button type="submit" class="btn btn-primary" name="submitComment">Comment</button>
	    </form>
		<h3>Comments:</h3>
		    {% for comment in iC %}
			    <p>
			        On {{comment.creation_date}} |&nbsp; 
			        <b>{{comment.userID}}</b> wrote:
			    </p>
			    <p>{{ comment.comment }}</p>
			    <hr>
		    {% endfor %}
		</div>

	    <!-- sidebar widget -->
	  	<div class="col-md-4">
			
		    <!-- Remark Widget -->
	      	<div class="card my-4 border-primary">
	        	<h5 class="card-header text-white bg-primary">Remarks</h5>
	        	<div class="card-body">
		          <p>{{remarks}}</p>
		        </div>
			</div>

	      	<!-- Action Widget -->
	    	<div class="card my-4 border-primary">
		        <h5 class="card-header text-white bg-primary">Action</h5>
		        <div class="card-body">
					<a href="{% url 'editTickets' iT.pk %}" class="btn btn-success btn-lg btn-block">Edit ticket</a>
		        </div>
			</div>

	        <!-- Incident Widget -->
	        <div class="card my-4 border-primary">
	          <h5 class="card-header text-white bg-primary">Incident</h5>
	          <div class="card-body">
	            <div class="row">
	              <div class="col-lg-6">
	                <ul class="list-unstyled mb-0">
						<li>
							<b>Status :</b><p>{{iT.status_text}}</p> 
						</li>
						<li>
							<b>Validity :</b><p>{{iT.validity_text}}</p>
						</li>
						<li>
							<b>Reported By :</b><p>{{iT.reportedBy}}</p>
						</li>
	                </ul>
	              </div>
	              <div class="col-lg-6">
	                <ul class="list-unstyled mb-0">
						<li>
							<b>Bug Id :</b><p>{{iT.id}}</p>
						</li>
						<li>
							<b>Severity</b><p>{{iT.severity_text}}</p>
						</li>
						<li>

						</li>
	                </ul>
	              </div>
	            </div>
				<div class="row">
					<div class="col-6">
						<b>Updated Date/Time :</b>
						<p>{{iT.updated_at}}</p>
					</div>
					<div class="col-6">
						<b>Created Date/Time :</b>
						<p>{{iT.created_at}}</p>
					</div>
				</div>
	          </div>
	        </div>
      	</div>
    </div>
</div>
{% endblock %}