<footer class="fixed-bottom font-small special-color-dark bg-dark text-white pt-3">
	<!-- Social buttons -->
	<ul class="list-unstyled list-inline text-center text-decoration-none">
		<li class="list-inline-item">
			<a href="https://www.facebook.com/" class="fa fa-facebook mx-1 fa-lg" target="_blank"></a> 
		</li>
		<li class="list-inline-item">
			<a href="https://twitter.com/?lang=en" class="fa fa-twitter mx-1 fa-lg" target="_blank"></a>
		</li>
		<li class="list-inline-item">
			<a href="https://www.linkedin.com/" class="fa fa-linkedin-square mx-1 fa-lg" target="_blank"></a>
		</li>
		<li class="list-inline-item">
			<a href="https://www.google.com/" class="fa fa-google mx-1 fa-lg" target="_blank"></a>
		</li>
	</ul>
	<div class="text-center py-3 font-weight-bold">© 2020 Copyright:
		<span>HD-Only</span>
	</div>
</footer>