<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'home' %}">Home</a>
		</div>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		{% if request.user.is_authenticated %}
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link bg-dark text-white font-weight-bold" href="{% url 'viewticket' %}">All Ticket</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-dark text-white font-weight-bold" href="{% url 'myTicket' %}">My Ticket</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-dark text-white font-weight-bold" href="{% url 'addticket' %}">Add Ticket</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-dark text-white font-weight-bold" href="{% url 'viewProfile' %}">View Profile</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-danger font-weight-bold" href="{% url 'logout' %}"> Logout</a></button>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
</nav>